name: Build And Deploy

on: push
  
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository using git
        uses: actions/checkout@v3
      - name: Check lockfiles
        id: lockfile
        shell: "bash"
        env:
          INPUT_PM: ${{ inputs.package-manager }}
        run: |
          len=`echo $INPUT_PM | wc -c`
          if [ $len -gt 1 ]; then
              echo "PACKAGE_MANAGER=$INPUT_PM" >> $GITHUB_ENV
          elif [ $(find "." -name "pnpm-lock.yaml") ]; then
              echo "PACKAGE_MANAGER=pnpm" >> $GITHUB_ENV
          elif [ $(find "." -name "yarn.lock") ]; then 
              echo "PACKAGE_MANAGER=yarn" >> $GITHUB_ENV
          elif [ $(find "." -name "package-lock.json") ]; then 
              echo "PACKAGE_MANAGER=npm" >> $GITHUB_ENV
          else
              echo "No lockfile found.
          Please specify your preferred \"package-manager\" in the action configuration."
              exit 1
          fi
      - name: Setup PNPM
        if: ${{ env.PACKAGE_MANAGER == 'pnpm' }}
        uses: pnpm/action-setup@v2.2.2
        with:
          version: 7.x.x

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}
          cache: ${{ env.PACKAGE_MANAGER }}

      - name: Install
        shell: "bash"
        run: |
          cd .
          $PACKAGE_MANAGER install
      - name: Build
        shell: "bash"
        env:
          PACKAGE_MANAGER: ${{ env.PACKAGE_MANAGER }}
        run: |
          cd .
          $PACKAGE_MANAGER run build
      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: "./dist/"